<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>SpringBoot | Thymeleaf</title>
	</head>
	<body>
		<center><h2>Spring Security | Custom Login Form | ThymeLeaf Template Engine</h2></center>
		<hr>
		<a th:href="@{/login}">Home</a>	|
		<a th:href="@{/admin/home}">Admin</a>	|
		<a th:href="@{/user/home}">User</a>
		<blockquote>
			<h2>Home Page</h2>
			<p>This is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine his is an example of ThymeLeaf template engine </p>
		</blockquote>	
	</body>
</html>