<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>SpringBoot | Thymeleaf</title>
	</head>
	<body>
		<center><h2>Spring Security | Custom Login Form | ThymeLeaf Template Engine</h2></center>
		<hr>
		<a th:href="@{/login}">Home</a>	|
		<a th:href="@{/admin/home}">Admin</a>	|
		<a th:href="@{/user/home}">User</a>	
		<hr>
		<h2>Login Form</h2>
		<form th:action="@{/doLogin}" method="post">
			<input
				type="text"
				placeholder="Enter email"
				name="email"
				id="email"
				required
			> <br>
			<input
				type="password"
				placeholder="Enter password"
				name="password"
				id="password"
				required
			> <br>
			<input
				type="submit"
				value="Login"
			> 
			<input
				type="reset"
				value="Reset"
			> 
			<br>
		</form>
		
		<p th:if="${param.status}" style="color:green">
			Logout Successfully
		</p>

		<p th:if="${param.error}" style="color:red">
			Invalid Credentials
		</p>

	</body>
</html>