@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    height: auto;
    width: 95%;
    margin: auto;
    /* background-color: grey; */
}

#header {
    height: 70px;
    padding: 10px;
    color:orange;
    background-color: whitesmoke;
}

#logo_section {
    height: 100%;
    width: 100px;
    /* background-color: green; */
    float: left;
}

#logo {
    height: 70px;
}

#heading_section {
    height: 100%;
    width: 220px;
    /* background-color: purple; */
    float: left;
}

#heading_section h1 {
    margin-top: 12px;
}

#nav {
    height: 100%;
    width: 860px;
    /* background-color: olive; */
    float: left;
}

#nav ul {
    padding-top: 20px;
    list-style: none;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    text-decoration: none;
    font-size: 22px;
    margin-left: 45px;
    color:orange;
}
#nav ul li a:hover{
    color:brown;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    width:180px;
    margin-left: 220px;
    background-color: whitesmoke;
}
#nav ul li ul li{
    margin-left: -30px;
    line-height: 40px;
}
#banner{
    height: 580px;
    /* background-color: red; */
}
#bannerImg{
    height: 520px;
    width: 1205px;
}