<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.history.forward();
    </script>
</head>
<body>
    <%- include('./adminHeader') %>
    <center>
        <h2>Admin Panel</h2>
        <blockquote>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam enim, tempora provident quaerat eligendi odit sit ut non quas et beatae voluptatem rerum fugit at eum sunt facere. Magnam nulla voluptates tenetur laborum obcaecati, porro unde consequuntur ducimus error libero explicabo blanditiis. Similique obcaecati cumque provident temporibus voluptates error. Sunt aperiam dolorem excepturi tenetur sint voluptatum sed modi perferendis illo ad mollitia, aliquam iure alias nostrum cum a. Doloribus similique nisi debitis nostrum at neque aliquam laudantium, cum eaque, porro dolor vitae dicta delectus pariatur aliquid officiis ratione. Assumenda eaque ut alias quasi deserunt quis rerum voluptas placeat. Voluptas sunt doloremque sapiente numquam id reprehenderit deserunt unde ab perspiciatis odio dolorum, ut dicta eveniet, eius minima iste aliquam ipsam illo doloribus.dus atque voluptates exercitationem blanditiis illum fugiat placeat tempora animi! Deserunt ullam commodi, illo molestiae culpa quae incidunt dolor?
        </blockquote>
    </center>
</body>
</html>