<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            height:30px;
            width: 300px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <center>
        <h2>Example of Express with MySql</h2>
    </center>
    <hr>
    <center>
        <a href="/">Home</a>    |   
        <a href="/user/register">Register</a>    |   
        <a href="/user/login">Login</a>  
    </center>
    <hr>
    <center>
        <form action="/user/register" method="post">
            <table>
                <caption>
                    <h3>Registration Form</h3>
                </caption>
                <tbody>
                    <tr>
                        <td>
                            Username <br>
                            <input type="text" placeholder="Enter Username" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email <br>
                            <input type="email" placeholder="Enter Email" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password <br>
                            <input type="password" placeholder="Enter Password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address <br>
                            <textarea rows="3" cols="40" placeholder="Enter Address" name="address"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Register"><br>
                            <input type="reset" value="Reset">
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
        <span style="color:red"><%= msg %></span>
    </center>
</body>
</html>