<center>
    <h2>Example of Express with MySql</h2>
</center>
<hr>
<center>
    Welcome <%= email %>    |   
    <a href="/user/home">Home</a>    |   
    <a href="/user/viewProfile/<%=email%>">View Profile</a>    |   
    <a href="/user/logout">Logout</a>  
</center>
<hr>
