<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>2_itep_servlet_examples</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ServletDemo2</servlet-name>
  	<servlet-class>com.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo2</servlet-name>
  	<!-- <url-pattern>/</url-pattern> -->
  	<url-pattern>/ServletDemo2</url-pattern>	
  </servlet-mapping>

  <servlet>
  	<servlet-name>ServletDemo3</servlet-name>
  	<servlet-class>com.servlet.ServletDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo3</servlet-name>
  	<url-pattern>/ServletDemo3</url-pattern>	
  </servlet-mapping>

  <servlet>
  	<servlet-name>ServletDemo4</servlet-name>
  	<servlet-class>com.servlet.ServletDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo4</servlet-name>
  	<url-pattern>/ServletDemo4</url-pattern>	
  </servlet-mapping>

  <servlet>
  	<servlet-name>ServletDemo5</servlet-name>
  	<servlet-class>com.servlet.ServletDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo5</servlet-name>
  	<url-pattern>/ServletDemo5</url-pattern>	
  </servlet-mapping>

  <servlet>
  	<servlet-name>ServletDemo7</servlet-name>
  	<servlet-class>com.servlet.ServletDemo7</servlet-class>
  	<init-param>
  		<param-name>driverName</param-name>
  		<param-value>com.mysql.cj.jdbc.Driver</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo7</servlet-name>
  	<url-pattern>/ServletDemo7</url-pattern>	
  </servlet-mapping>
  
  <context-param>
  	<param-name>projectName</param-name>
  	<param-value>MyProject.Com</param-value>
  </context-param>
  
</web-app>